{% extends "layout.html.twig" %}

{% block title %} nice databases! {% endblock %}

{% block content %}
    <div class="list">
        {% for db in dbList %}
            <div class="box item">
                <h3>{{ db.Database }}</h3>
            </div>
        {% endfor %}
    </div>


{% endblock %}
