{% extends "layout.html.twig" %}

{% block title %} nice setup! {% endblock %}

{% block content %}
   <article class="info">
      <section class="part -php">
         <h2>Php Info</h2>
         <div class="contents">{{ phpInfo|raw }}</div>
      </section>
   </article>


{% endblock %}
