{% extends "layout.html.twig" %}

{% block content %}
    <article>
        <header>
            <h2>Internal server error</h2>
        </header>
        <section>
            <h3>Message</h3>
            <p>
                {{ error.message }}
            </p>
            <p>
                Line {{ error.line }} at <br />
                {{ error.file }}
            </p>
        </section>
    </article>
{% endblock %}
