<!DOCTYPE html>
<html>
    <head>
        <title>Hey, …</title>

        <link href="https://fonts.googleapis.com/css?family=Eczar:400,600,700,800|Work+Sans:400,400i" rel="stylesheet">
        <link href="{{ asset('assets/css/screen.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>

        <div class="hello">
            <header class="header">
                <h1 class="logo">
                    <a href="/" >Hey, {% block title '' %}</a>
                </h1>
                <nav class="nav">
                    <ul>

                        {% for item in app.navigation.items %}
                            <li>
                                <a href="/{{ item.key }}" class="{{ item.active ? 'active' : '' }}">
                                    {{ item.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>
            <main role="main" class="action">
                {% block content %}{% endblock %}
            </main>
        </div>
    </body>
</html>
