$mainColor:#000;
$secondaryColor:#ffff00;
$greyColor: #e6e6e6;
$bgColor:#005eff;

body {
  background: $greyColor;
  color: $bgColor;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: $bgColor;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}

h3 {
  margin-bottom:10px;
  text-transform: uppercase;
  font-size:16px;
}

.icon {
  svg {
    vertical-align: top;
    width:18px;
    height:18px;
    * {
      stroke: $bgColor;
    }
  }
}

.text {
  font-size:16px;

  &.-small {
    font-size:14px;
    .icon svg {
      width:14px;
      height:14px;
    }
  }
  &.-italic, > .-italic {
    font-style:italic;
  }
}

.box {
  background:white;
  border: 1px solid $bgColor;
  padding: 1rem;

  &.-margin {
    margin-bottom: 1rem;
  }
}

.hello {
  margin:10vh auto;
  max-width:90%;
}

.header {
  padding-top:4rem;
  margin-bottom:4rem;

  .logo {
    font-family: 'Eczar', serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 1;
    margin-bottom:1rem;
  }

  nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

    ul {
      display: flex;
      justify-content: space-around;
      li {
        background: white;

        width:100%;
        text-align:center;
        &:nth-child(even){
          background:lighten($greyColor, 8%);
        }
      }
    }
    a {
      display: block;
      width:100%;
      padding:12px 0px;
      text-decoration: none;
      text-transform: uppercase;
      color: $bgColor;

      &.active, &:hover, &:focus {
        transform: rotate(-20deg);
      }
    }
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

















